<%= form_with(model: libraty, local: true) do |form| %>
  <% if libraty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(libraty.errors.count, "error") %> prohibited this libraty from being saved:</h2>

      <ul>
      <% libraty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :libraty_name %>
  </div>

  <div class="field">
    <%= form.label :Pnumber %>
    <%= form.number_field :Pnumber, id: :libraty_Pnumber %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
