w<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @libraty.name %>
</p>

<p>
  <strong>Pnumber:</strong>
  <%= @libraty.Pnumber %>
</p>

<%= link_to 'Edit', edit_libraty_path(@libraty) %> |
<%= link_to 'Back', libraties_path %>
